.history-div {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #292b2c;
    overflow-x: hidden;
    padding-top: 60px;
}

.history-div__history-result {
    padding: 8px 8px 8px 32px;
    text-align: center;
    text-decoration: none;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    overflow-wrap: break-word;
    font-size: 1.5em;
}

.history-div__history-items {
    padding-left: 0px;
}

.history-div__close-btn {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    font-size: 40px;
    margin-left: 0;
    padding: 25px 0 0 25px;
    background: none;
    border: none;
    box-shadow: none;
}

.history-div__close-btn:hover {
    color: #f1f1f1;
}

.history-div--closed {
    transform: translateX(100%);
    transition: transform 0.5s;
}

.history-div--open {
    transform: translateX(0);
    transition: transform 0.5s;
}