#content {
    height: 100%;
    padding: 5.5% 10px 6% 10px;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
}

.navbar button {
    margin: 5px 10px 5px 10px;
    padding: 0 14px 0 16px;
    border-radius: 12px;
    block-size: 42px;
}

.open-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    right: 0;
    margin-right: 20px;
}

.side-div {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #292b2c;
    overflow-x: hidden;
    padding-top: 60px;
}

.side-div-closed {
    transform: translateX(100%);
    transition: transform 0.5s;
}

.side-div-open {
    transform: translateX(0);
    transition: transform 0.5s;
}

.side-div .history-items {
    padding-right: 5px;
}

.side-div .history-result {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px!important;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    overflow-wrap: break-word;
    font-size: 1.5em;
}

.side-div .close-btn {
    font-size: 40px!important;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 0;
    padding-left: 25px;
    background: none;
    border: none;
    box-shadow: none;
}

.side-div .close-btn:hover {
    color: #f1f1f1;
}