@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500");
body {
    background: rgb(182, 133, 213) linear-gradient(90deg, rgba(182, 133, 213, 1) 0%, rgba(97, 219, 251, 1) 100%);
    height: 100%;
    font-family: "Quicksand", sans-serif;
    flex-direction: row;
}

button:hover {
    cursor: pointer;
}

button:focus {
    transform: scale(1.05);
    transition: scale 0.2s ease-out;
}